.nav {
    grid-area: n;
    background-color: #87CEFA;
    padding: 20px;
}

.item {

    a {
        color: white;
        text-decoration: none;
    }

    :focus {
        color: #1E90FF;
    }
}


