.app-wrapper {
    display: grid;
    grid-template-areas:
            "h h"
            "n c";

    grid-template-columns: 2fr 10fr;
    margin: 20px;
}

.app-wrapper-content {
    margin-left: 20px;
    border-radius: 12px;
    grid-area: c;
    background-color: #f8f8f8;
}
