.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

    .items {
        padding: 10px;

        .dialog {

        }

        .active {
            color: darkblue;
        }
    }

    .messages {
        padding: 10px;

        .message {

        }
    }
}
